.filter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.filter b {
  width: 100%;
  margin-bottom: 10px;
}

.filter-inner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-inner button {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  background-color: #efefef;
  margin-right: 10px;
  cursor: pointer;
  transition: all .25s ease;
}

.filter-inner button:hover {
  background-color: #e6e6e6;
}

.filter-inner label {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.filter-inner label span {
  margin: 0px 10px;
}

.content {
  width: 100%;
  max-width: 1250px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-top: 75px;
}

.content-inner {
  flex: 1;
}

.sidebar {
  width: 100%;
  max-width: 350px;
}

.input {
  width: 100%;
  margin: 10px 0px;
}

.input b {
  text-transform: capitalize;
  font-size: 14px;
}

.input label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.input label input {
  margin-right: 10px;
}

.input label span {
  flex: 1;
  text-transform: capitalize;
  font-size: 12px;
}