* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body,
html {
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 15px;
}